body {
  background: #FCDCD5;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #CB644A;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
  border-style: solid;
  border-width: 4px;
  border-color: #FCDCD5;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}
 
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


.card-white {
  background-color: ghostwhite;
  padding: 40px;
  box-shadow: 12px 20px 50px rgba(15,9,8,5);
  border-radius: 38px;
  margin: 20px 0px;
  text-align: center;
}
.ronde {
  border-radius: 75%;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(231, 218, 95);
}
.list-inline i:hover {
  color: black;
}

#introduction p {
  margin-bottom: 40px;
}

